.start{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title{
        display: flex;
    }
    &__title > h1{
        position: relative;
        font-family: "Lato", sans-serif;
        color: #000;
        font-size: 110px;
        font-style: normal;
        font-weight: 500;
        line-height: 143px;
        letter-spacing: 0em;
        text-align: left;
        width: 35%;
        margin-left: 200px;
        &::after{
            content: "";
            position: absolute;
            background: url(../../Images/promo/romb2x.png);
            background-repeat: no-repeat;
            width: 200px;
            height: 200px;
            top: 0;
            right: -290px;
        }
    }
    &__title > p{
        font-family: Futura PT;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: #000;
        width: 31%;
        margin-top: 201px;
        margin-right: auto;
    }
}

.box{
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    border: 2px solid #FF3333;
    border-radius: 8px;
    height: 501px;
    &__title > p{
        font-family: Futura PT;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: black;
        width: 69%;
        padding-top: 100px;
        padding-left: 114px;
    }
    &__cards{
        display: flex;
    }
    &__card{
        position: relative;
        margin-top: 40px;
        &::after{
            position: absolute;
            content: "";
            background: url(../../Images/start/x2.png);
            background-repeat: no-repeat;
            width: 85px;
            height: 85px;
            top: 40px;
            left: 330px;
        }
    }
    &__card > h1{
        font-family: Futura PT;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 43px;
        letter-spacing: 0.02em;
        text-align: left;
        color: black;
        padding-left: 114px;
        margin-top: 50px;
    }
    &__card > p{
        font-family: Futura PT;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: black;
        padding-left: 114px;
        width: 100%;
    }
}